main {
  display: flex;
  flex-direction: column;
  place-items: center;
  font-family: system-ui;
  max-width: 800px;
  margin: 0 auto;
  gap: 1rem;
}

main p {
  padding-inline: 2rem;
  font-weight: 600;
}
main img {
  max-width: 320px;
  height: auto;
}
