#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.board-square {
  padding: 2rem;
  background-color: #fff;
  border: solid black 1px;
}
