#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.board {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.board-square {
  min-width: 100px;
  min-height: 100px;
  /* padding: 2rem; */
  background-color: #fff;
  border: solid black 1px;
}
.board-square span {
  line-height: 100px;
  color: blue;
}
